/.env
.env.local
/dist
/node_modules
/swagger-docs
/.vs
/bin
/log
/obj/Debug
/tokens
/uploads
/WhatsAppImages
/wppconnect-server.njsproj
/wppconnect-server.njsproj.user
*.sln
*.png
*.tgz
*.zip
/.idea
userDataDir/
logs/
node_modules/
/yarn.lock
/yarn-error.log
backupFolder
tokens/*
wppconnect_tokens/*
/public/videos/*
/public/audios/*
/public/images/*
/public/documents/*
/public/spreadsheets/*
/public/presentations/*
/public/pdfs/*
/public/zip/*
/public/rar/*
/public/7z/*
/public/tar/*
/public/gz/*
/public/other/*
/z-api-screenshots/*